<%- include("partials/header.ejs") %>
<body>

    <h2>Edit Post</h2>
    <form action="/update/<%= post.id %>" method="POST">
      <label for="title">Post Title:</label>
      <input type="text" id="title" name="title" value="<%= post.title %>" required>
      <br><br>
      <label for="content">Post Content:</label>
      <textarea id="content" name="content" rows="4" required><%= post.content %></textarea>
      <br><br>
      <button type="submit">Update Post</button>
    </form>



<%- include("partials/footer.ejs") %>